<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<!--
Putting forms using th:object in a fragment does not work.
The enclosed input field's th:field and th:value don't work.
Therefore create fragments for the different parts of a form.
-->
<div class="mb-3" th:fragment="input(type, field)"
     th:with="name=${name} ?: ${#strings.capitalize(field)}">
    <label th:for="${#ids.next(field)}"
           th:text="${name}"
           class="form-label">
    </label>

    <input th:if="${type != 'select'}"
           th:type="${type}"
           th:required="${required == null || required} ? 'required' : null"
           th:value="*{__${field}__}"
           th:field="*{__${field}__}"
           th:placeholder="${name}"
           th:minlength="${minlength} ?: ''"
           th:maxlength="${maxlength} ?: ''"
           th:min="${min} ?: ''"
           th:max="${max} ?: ''"
           th:step="${step} ?: ''"
           class="form-control">

    <select th:if="${type == 'select' && enum != null}"
            th:field="*{__${field}__}"
            class="form-select">
        <option th:each="opt : ${T(__${enum}__).values()}"
                th:value="${opt}"
                th:text="${#strings.capitalize(#strings.toLowerCase(opt))}">
        </option>
    </select>

    <select th:if="${type == 'select' && options != null}"
            th:field="*{__${field}__}"
            class="form-select">
        <!-- TODO: remove or provide for other variables -->
        <!--@thymesVar id="options" type="java.util.SortedMap<String,String>"-->
        <!--@thymesVar id="opt" type="java.util.Map.Entry<String,String>"-->
        <option th:each="opt : ${__${options}__}"
                th:value="${opt.key}"
                th:text="${opt.value}">
        </option>
    </select>

    <div class="invalid-feedback"
         th:if="${errorMessage}">
        <span th:text="${errorMessage}"></span>
    </div>
</div>
</body>
</html>
