<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="mb-3" th:fragment="input(type, field)"
     th:with="name=${name} ?: ${#strings.capitalize(field)}">
    <label th:for="${#ids.next(field)}"
           th:text="${name}"
           class="form-label">
    </label>
    <input th:type="${type}"
           th:required="${required == null || required} ? 'required' : null"
           th:name="${field}"
           th:id="${field}"
           th:placeholder="${name}"
           th:minlength="${minlength} ?: ''"
           th:maxlength="${maxlength} ?: ''"
           th:min="${min} ?: ''"
           th:max="${max} ?: ''"
           th:step="${step} ?: ''"
           class="form-control">
    <div class="invalid-feedback"
         th:if="${errorMessage}">
        <span th:text="${errorMessage}"></span>
    </div>
</div>
</body>
</html>
