<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Anmelden</title>
</head>
<body>
<section layout:fragment="main-content">
    <h1>Anmelden</h1>
    <form method="post"
          th:action="@{/anmelden}"
          th:class="${validiert ? 'was-validated' : ''}">

        <div th:replace="common/form/rawInput :: input(type='text',
                                                       field='username',
                                                       name='Nutzername',
                                                       errorMessage='Nutzername oder Passwort falsch')"></div>
        <div th:replace="common/form/rawInput :: input(type='password',
                                                       field='password',
                                                       name='Passwort',
                                                       errorMessage='Nutzername oder Passwort falsch')"></div>
        <div th:replace="common/form/submit :: submit('Anmelden')"></div>
    </form>
</section>
</body>
</html>
