<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Create Employee</title>
</head>
<body>
<section layout:fragment="main-content">
    <h1>Create Employee</h1>
    <form method="post"
          th:action="@{/employees/create}"
          th:object="${employee}"
          th:class="${validated ? 'was-validated' : ''}">
        <div th:replace="common/form/input :: input(type='text', field='username')"></div>
        <div th:replace="common/form/input :: input(type='password', field='password')"></div>
        <div th:replace="common/form/submit :: submit('Create')"></div>
    </form>
</section>
</body>
</html>
