<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Yetra</title>
</head>
<body>
<section layout:fragment="main-content">
    <div class="text-center my-5">
        <img th:src="@{/img/home.svg}"
             alt="Successful Manager"
             width="50%">
        <h1 class="display-5 fw-bold">Yetra</h1>
        <p class="lead">
            Welcome on the administration panel of the leading trading plattform for shares.
        </p>
    </div>
</section>
</body>
</html>
