<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Create share</title>
</head>
<body>
<section layout:fragment="main-content">
    <h1>Create share</h1>
    <form method="post"
          th:action="@{/shares/create}"
          th:object="${share}"
          th:class="${validated ? 'was-validated' : ''}">

        <div th:replace="common/form/input :: input(type='text',
                                                    field='isin',
                                                    minlength='12',
                                                    maxlength='12')"></div>
        <div th:replace="common/form/input :: input(type='text', field='name')"></div>
        <div th:replace="common/form/input :: input(type='number',
                                                    field='currentPrice',
                                                    name='Current price',
                                                    min='0',
                                                    step='0.01')"></div>
        <div th:replace="common/form/submit :: submit('Create')"></div>
    </form>
</section>
</body>
</html>
