<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layout}">
<head>
    <title>Shares</title>
</head>
<body>
<section layout:fragment="main-content">
    <h1>Shares</h1>
    <div sec:authorize="hasAuthority('SHARES_WRITE')"
         class="d-flex flex-row-reverse">
        <a class="btn btn-success" th:href="@{/shares/create}">
            <i class="bi bi-plus-lg"></i>
            Create Share
        </a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>ISIN</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <!--TODO: handle empty list case-->
            <tr th:each="share,index: ${shares}">
                <td th:text="${index.count}"></td>
                <td th:text="${share.getIsin()}"></td>
                <td th:text="${share.getName()}"></td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>