<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layout}">
<head>
    <title>Shares</title>
</head>
<body>
<section layout:fragment="main-content">
    <h1>Shares</h1>
    <div sec:authorize="hasAuthority('SHARES_WRITE')"
         th:replace="common/table :: createLink('Create Share', '/shares/create')"></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ISIN</th>
                <th>Name</th>
                <th>Current Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="s,index: ${shares}">
                <td th:text="${s.getIsin()}"></td>
                <td th:text="${s.getName()}"></td>
                <td th:text="${#numbers.formatDecimal(s.getCurrentPrice(), 1, 3)} + ' EUR'"></td>
            </tr>
            <tr th:replace="common/table :: emptyTable(shares, 'There are no shares yet.')"></tr>
        </tbody>
    </table>
    <nav th:replace="common/table :: pagination(shares)"></nav>
</section>
</body>
</html>