<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Create share</title>
</head>
<body>
<section layout:fragment="main-content">
    <h1>Create share</h1>
    <form method="post"
          th:action="@{/shares/create}"
          th:object="${share}"
          class="was-validated">

        <div th:replace="common/form/input :: input(type='text',
                                                    field='isin',
                                                    name='ISIN',
                                                    minlength='12',
                                                    maxlength='12',
                                                    errorMessage='A valid ISIN has 12 places.')"></div>
        <div th:replace="common/form/input :: input(type='text',
                                                    field='name',
                                                    errorMessage='Name must no be empty.')"></div>
        <div th:replace="common/form/input :: input(type='number',
                                                    field='currentPrice',
                                                    name='Current price',
                                                    min='0',
                                                    step='0.001',
                                                    errorMessage='Price must be positive and have maximum 3 decimal places.')"></div>
        <div th:replace="common/form/submit :: submit('Create')"></div>
    </form>
</section>
</body>
</html>
