<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Yetra</title>
</head>
<body>
<section layout:fragment="main-content">
    <div class="text-center">
        <h1 class="display-5 fw-bold">Yetra</h1>
        <p class="lead">
            Willkommen auf der Administrationsseite der führenden elektronischen
            Handelsplattform für Wertpapiere.
        </p>
    </div>
</section>
</body>
</html>
