<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Create User</title>
</head>
<body>
<section layout:fragment="main-content">
    <h1>Create User</h1>
    <form method="post"
          th:action="@{/users/create}"
          th:object="${user}"
          class="was-validated">
        <div th:replace="common/form/input :: input(type='text',
                                                    field='username',
                                                    errorMessage='Username must not be empty.')"></div>
        <div th:replace="common/form/input :: input(type='password',
                                                    field='password',
                                                    errorMessage='Password must not be empty.')"></div>
        <div th:replace="common/form/input :: input(type='select',
                                                    field='role.name',
                                                    name='Role',
                                                    options='roles',
                                                    errorMessage='Please select a role.')"></div>
        <div th:replace="common/form/input :: input(type='text',
                                                    field='bankAccount.iban',
                                                    name='Bank Account (IBAN)',
                                                    minlength='4',
                                                    maxlength='34',
                                                    errorMessage='A valid IBAN consists of 4-34 characters.')"></div>
        <div th:replace="common/form/input :: input(type='text',
                                                    field='notifyChannel',
                                                    name='Notification Channel (ActiveMQ Channel Name)',
                                                    required='false')"></div>
        <div th:replace="common/form/submit :: submit('Create')"></div>
    </form>
</section>
</body>
</html>
