<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layout}">
<head>
    <title>Users</title>
</head>
<body>
<section layout:fragment="main-content">
    <h1>Users</h1>
    <div sec:authorize="hasAuthority('USERS_WRITE')"
         th:replace="common/table :: createLink('Create User', '/users/create')"></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Role</th>
                <th>Billing Account</th>
                <th>Notification Channel</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u,index: ${users}">
                <td th:text="${index.count}"></td>
                <td th:text="${u.getUsername()}"></td>
                <td th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(#strings.substring(u.getRole().getName(), 5), '_', ' ')))}"></td>
                <td th:text="${u.getBankAccount().getIban()}"></td>
                <td th:text="${u.getNotifyChannel()}"></td>
            </tr>
            <tr th:replace="common/table :: emptyTable(users, 'There are no users yet.')"></tr>
        </tbody>
    </table>
    <nav th:replace="common/table :: pagination(users)"></nav>
</section>
</body>
</html>
