<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Wertpapier anlegen</title>
</head>
<body>
<section layout:fragment="main-content">
    <h1>Wertpapier anlegen</h1>
    <form method="post"
          th:action="@{/wertpapiere/anlegen}"
          th:object="${wertpapier}"
          th:class="${validiert ? 'was-validated' : ''}">

        <div th:replace="common/forms :: input(type='text',
                                           field='isin',
                                           minlength='12',
                                           maxlength='12')"></div>
        <div th:replace="common/forms :: input(type='text', field='name')"></div>
        <div th:replace="common/forms :: input(type='number',
                                               field='aktuellerPreis',
                                               name='Aktueller Preis',
                                               min='0',
                                               step='0.01')"></div>
        <div th:replace="common/forms :: submit('Anlegen')"></div>
    </form>
</section>
</body>
</html>
