<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow"
         th:fragment="navbar">
        <div class="container-lg">
            <a class="navbar-brand" href="/">Yetra</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/}"
                           th:classappend="${#request.getRequestURI() == '/'} ? 'active' : ''">
                            Home
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('SHARES_READ')">
                        <a class="nav-link"
                           th:href="@{/shares}"
                           th:classappend="${#request.getRequestURI() == '/shares'? 'active' : ''}">
                            Shares
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAuthority('USERS_READ')">
                        <a class="nav-link"
                           th:href="@{/trading-partners}"
                           th:classappend="${#request.getRequestURI() == '/trading-partners'? 'active' : ''}">
                            Trading Partners
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('USERS_READ')">
                        <a class="nav-link"
                           th:href="@{/employees}"
                           th:classappend="${#request.getRequestURI() == '/employees'? 'active' : ''}">
                            Employees
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('ORDERS_READ')">
                        <a class="nav-link"
                           th:href="@{/orders}"
                           th:classappend="${#request.getRequestURI() == '/orders'? 'active' : ''}">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('TRANSACTIONS_READ')">
                        <a class="nav-link"
                           th:href="@{/transactions}"
                           th:classappend="${#request.getRequestURI() == '/transactions'? 'active' : ''}">
                            Transactions
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"
                           sec:authorize="isAuthenticated()"
                           sec:authentication="name">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"
                        sec:authorize="isAnonymous()">
                        <a class="nav-link"
                           th:href="@{/login}"
                           th:classappend="${#request.getRequestURI() == '/login'? 'active' : ''}">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
