<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="createLink(text, url)"
     class="d-flex flex-row-reverse">
    <a class="btn btn-primary" th:href="@{__${url}__}">
        <i class="bi bi-plus-lg"></i>
        <span th:text="${text}"></span>
    </a>
</div>

<table>
    <tbody>
    <tr th:fragment="empty(list, msg)">
            <td th:if="${#lists.isEmpty(__${list}__)}"
                th:text="${msg}"
                colspan="100"
                class="text-center">
            </td>
        </tr>
    </tbody>
</table>

<nav th:fragment="pagination(page)"
    th:with="baseUrl=${#request.getRequestURI()}">
    <ul th:if="${__${page}__.getTotalPages() > 1}"
        class="pagination justify-content-center">
        <!-- previous -->
        <li class="page-item">
            <a th:href="@{${baseUrl}(page=${__${page}__.getNumber()})}"
               class="page-link link-dark"
               th:classappend="${__${page}__.hasPrevious() ? '' : 'disabled'}"
               th:text="Previous"></a>
        </li>
        <!-- previous -->
        <li th:if="${__${page}__.hasPrevious()}"
            class="page-item">
            <a th:href="@{${baseUrl}(page=${__${page}__.getNumber() - 1})}"
               class="page-link link-dark"
               th:text="${__${page}__.getNumber()}"></a>
        </li>
        <!-- current -->
        <li class="page-item active">
            <a th:href="@{${baseUrl}(page=${__${page}__.getNumber()})}"
               class="page-link link-dark"
               th:text="${__${page}__.getNumber() + 1}"></a>
        </li>
        <!-- next -->
        <li th:if="${__${page}__.hasNext()}"
            class="page-item">
            <a th:href="@{${baseUrl}(page=${__${page}__.getNumber() + 1})}"
               class="page-link link-dark"
               th:text="${__${page}__.getNumber() + 2}"></a>
        </li>
        <!-- next -->
        <li class="page-item">
            <a th:href="@{${baseUrl}(page=${__${page}__.getNumber() + 1})}"
               class="page-link link-dark"
               th:classappend="${__${page}__.hasNext() ? '' : 'disabled'}"
               th:text="Next"></a>
        </li>
    </ul>
</nav>
</body>
</html>