<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="createLink(text, url)"
     class="d-flex flex-row-reverse my-3">
    <a class="btn btn-primary" th:href="@{__${url}__}">
        <i class="bi bi-plus-lg"></i>
        <span th:text="${text}"></span>
    </a>
</div>

<table>
    <tbody>
    <tr th:fragment="emptyTable(list, msg)">
            <td th:if="${#lists.isEmpty(__${list}__)}"
                th:text="${msg}"
                colspan="100"
                class="text-center">
            </td>
        </tr>
    </tbody>
</table>

<nav th:fragment="pagination(page)"
    th:with="baseUrl=${#request.getRequestURI()}">
    <ul class="pagination justify-content-center">
        <li class="page-item"
            th:classappend="${__${page}__.hasPrevious() ? '' : 'disabled'}">
            <a th:href="@{${baseUrl}(page=${__${page}__.getNumber()})}"
               class="page-link link-dark"
               th:text="Previous"></a>
        </li>
        <li class="page-item"
            th:classappend="${__${page}__.hasNext() ? '' : 'disabled'}">
            <a th:href="@{${baseUrl}(page=${__${page}__.getNumber() + 1})}"
               class="page-link link-dark"
               th:text="Next"></a>
        </li>
    </ul>
</nav>
</body>
</html>